body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1;
}

.container {
	width: 100%;
	max-width: 90%;
}

textarea {
	background: transparent;
	border: none;
	resize: none;
	color: #000000;
	border-left: 1px solid black;
	padding: 10px;
	flex-grow: 1;
}

.hour,
.saveBtn {
	flex: 0 100px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
	color: black;
	border-radius: 0;
	border-bottom: 10px solid black;
}

.description {
	white-space: pre-wrap;
}

.start-time-select,
.end-time-select {
	width: 25%;
}

/* .time-block {
	text-align: center;
	border-radius: 15px;
} */

.row {
	white-space: pre-wrap;
	height: 80px;
	border-top: 1px solid white;
	display: flex;
	justify-content: center;
}

.hour {
	background-color: #ffffff;
	color: #000000;
	border-top: 1px dashed #000000;
}

.past {
	background-color: #d3d3d3;
	color: black;
}

.present {
	background-color: #ff6961;
	color: black;
}

.future {
	background-color: #77dd77;
	color: black;
}

.saveBtn {
	border-left: 1px solid black;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #06aed5;
	color: white;
	visibility: hidden;
}

.saveBtn i:hover {
	font-size: 20px;
	transition: all 0.3s ease-in-out;
}

.unsaved {
	visibility: visible;
}

@media screen and (max-width: 441px) {
	.row {
		height: 60px;
	}
	.hour,
	.saveBtn {
		flex: 0 35px;
		font-size: .75rem;
	}
	textarea {
		padding: 3px;
		font-size: .75rem;
	}
	.display-3 {
		font-size: 3.5rem;
	}
	.jumbotron p {
		font-size: 17px;
	}
}
